.wwa{
    position: relative;
    top: 22%;
}

.wwa p{
    font-size: 1.1rem;
}

.back1{

        background-image: url("../../images/green-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 12.7%;
        margin-top: 79px;
        height: 100vh;
}

.about-images{
position: relative;
top:50px;
}

.about1{
    width: 65%;
    display: block;
}

.lineA{
    position: relative;
    left: 32%;
    height: 48px;
    top: -14px;
    width: 6px;
}


.about2{
    width: 32%;
    position: relative;
    left: 17%;
    top: 16px;
}

.line2{
    display: block;
    top: 16px;
    position: relative;
    height: 25px;
}

.about3{
    width: 29%;
    position: relative;
    left: 19%;
    top: 16px;
}

.down-arrow img{
    align-items: center;
    width: 23px;
}

.down-arrow a{
    position: relative;
    left: 13.2%;
    top: 12vh;
}

/*************************media query ********************/

@media(min-width:320px) and (max-width:575px){
    .back1{
        height: 449px;
    }
    .wwa h1{
        font-size: 18px;
    }
    .wwa p {
        font-size: 13px;
    }

    .back1 {
        background-position-x: 4.7%;
    }
    .down-arrow img {
        width: 19px;
    }

    .down-arrow a {
        left: 6.5%;
        top: -12vh;
    }

    .about-images {
        top: 17px;
    }
    
    .about2 {
        top: -9px;
    }
    
    .line2 {
        top: -17px;
    }
    
    .about3 {
        top: -18px;
    }
    
    .wwa {
        top: 13%;
    }
    
}

@media(min-width:576px) and (max-width:991px){
    .wwa {
        top: 32%;
    }
    .wwa h1{
        font-size: 20px;
    }
    .wwa p {
        font-size: 15px;
    }

    .back1 {
        background-position-x: 8.7%;
    }
    .down-arrow img {
        width: 21px;
    }

    .down-arrow a {
        left: 9.7%;
        top: 23vh;
        position: relative;
    }

    .about-images {
        top: 124px;
    }
    
    .about2 {
        top: 99px;
    }
    
    .line2 {
        top: 94px;
    }
    
    .about3 {
        top: 92px;
    }
    
}

@media(min-width:992px) and (max-width:1133px){

    .down-arrow img {
        width: 21px;
    }

    .down-arrow a {
        left: 13.5%;
        top: 21vh;
    }

}