.wwa{
    position: relative;
    top: 20vh;
}

.wwa p{
    font-size: 1.1rem;
}

.about-row{
   margin-top: 20px;
    height: 100vh
 }


.back1{

        background-image: url("../../images/green-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position-x: 12.7%;
        margin-top: 79px;
        height: 100vh;
}

.main-arrow2{
    background-color: #94c529;
    position: relative;
    top: 118vh;
    width: 43px;
    height: 100vh;
    position: absolute;
    left: 12vw;
}


.main-arrow2 img {
    position: absolute;
    width: 44%;
    align-items: center;
    top: 93vh;
    left: 27%;
}

.about-images{
position: relative;
top:50px;
}

.about1{
    width: 65%;
    display: block;
}

.lineA{
    position: relative;
    left: 32%;
    height: 48px;
    top: -14px;
    width: 6px;
}


.about2{
    width: 32%;
    position: relative;
    left: 17%;
    top: 16px;
}

.line2{
    display: block;
    top: 16px;
    position: relative;
    height: 25px;
}

.about3{
    width: 29%;
    position: relative;
    left: 19%;
    top: 16px;
}

.down-arrow img{
    align-items: center;
    width: 23px;
}

.down-arrow a{
    align-items: center;
    width: 23px;
    position: relative;
    left: 13.5%;
    bottom: 10vh;
}

/*************************media query ********************/

@media(min-width:320px) and (max-width:575px){
    .back1{
        height: 449px;
    }
    .about-row{
        margin-top: 20px;
         height: 449px;
      }
     
    .wwa h1{
        font-size: 18px;
    }
    .wwa p {
        font-size: 13px;
    }

    .back1 {
        background-position-x: 4.7%;
    }
    .down-arrow img {
        width: 19px;
    }

    .down-arrow a {
        left: 6.5%;
        position: relative;
        bottom: 7vh;
    }

    .about-images {
        top: 17px;
    }
    
    .about2 {
        top: -9px;
    }
    
    .line2 {
        top: -17px;
    }
    
    .about3 {
        top: -18px;
    }
    
    .wwa {
        top: 13%;
    }
    
    
}

@media(min-width:576px) and (max-width:991px){
    .back1{
        height: 520px;
    }
    .about-row{
         height: 520px;
      }
    .wwa {
        top: 26%;
    }
    .wwa h1{
        font-size: 20px;
    }
    .wwa p {
        font-size: 15px;
    }

    .back1 {
        background-position-x: 8.7%;
    }
    .down-arrow img {
        width: 21px;
    }

    .down-arrow a {
        left: 9.7%;
        position: relative;
        bottom: 5vh;
    }

    .about-images {
        top: 124px;
    }
    
    .about2 {
        top: 99px;
    }
    
    .line2 {
        top: 94px;
    }
    
    .about3 {
        top: 92px;
    }

    .main-arrow2{
        /* top: -3vh; */
        width: 44px;
        height: 100vh;
        left: -12.8vw;
    }
    
}

@media(min-width:992px) and (max-width:1133px){

    .back1{
        height: 581px;
    }
    .about-row{
         height: 581px;
      }

    .down-arrow img {
        width: 21px;
    }

    .down-arrow a {
        left: 13.5%;
        bottom: 6vh;
        position: relative;
    }

    .wwa {
        top: 8vh;
    }

}