.product{
    margin-top: 0px;
    background-image: url('../../images/trans.svg');
    background-size: contain;
    height: 300px;
    /* padding-bottom: 50px; */
    background-repeat: no-repeat;
}

.product img{
    width: 39%;
    position: relative;
    left: 80px;
    top: 69px;
}

.product-par{
    padding-bottom: 29px;
}

.product-par p{
    font-weight: 600;
    font-size: 1.4rem;
}

.line-product{
    content: ' ';
    display: block;
    width: 128px;
    height: 0;
    border-width: 0 0 2px;
    border-style: solid;
    position: relative;
    bottom: 0;
    color: #94c529;
    top: -1px;
}

.span-product{
    color: rgb(148, 197, 41);
    font-size: 19px;
    font-weight: 500;
}

.st-p{
    background-image: url("../../images/background.svg");
    background-position-x: 656px;
    background-position-y: 136px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*************************media query ********************/

@media(min-width:320px) and (max-width:575px){

    .product-par p {
        font-size: 0.9rem;
    }

    .span-product {
        font-size: 16px;
    }

    .line-product {
        width: 104px;
    }

    .product-par {
        padding-bottom: 6px;
    }

    .product img {
        width: 36%;
        left: 35%;
        top: 14%;
    }
}


@media(min-width:576px) and (max-width:767px){

    .product-par p {
        font-size: 1.1rem;
    }

    .span-product {
        font-size: 16px;
    }

    .line-product {
        width: 104px;
    }

    .product-par {
        padding-bottom: 6px;
    }

    .product img {
        width: 41%;
        left: 29%;
        top: 21%;
    }
}

@media(min-width:768px) and (max-width:991px){

    .product-par p {
        font-size: 1.1rem;
    }

    .span-product {
        font-size: 16px;
    }

    .line-product {
        width: 104px;
    }

    .product-par {
        padding-bottom: 6px;
    }

    .product img {
        width: 43%;
        left: 24%;
        top: 21%;
    }
}