.left p{
    position: relative;
    top: 10vh;
    font-size: 54px;
    font-weight: 500;
}

.left .ant-btn {
    background: #94c529;
    border: none;
    border-radius: 20px;
    color: white;
    width: 119px;
    margin-top: 7vh;
    margin-right: 2%;
}


.left .ant-btn.scd-btn{
    color: #94c529;
    background: white;
    border: 1px solid #94c529;
}

.main{
    background-image: url('../../images/circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
   
}
.main img{
    /* width: 71%;
    padding-bottom: 28px;
    padding-top: 75px;
    margin-left: 15%;
    margin-bottom: 5%; */
    padding-bottom: 3vh;
    padding-top: 9vh;
    margin-left: 4.1vw;
    margin-bottom: 5vh;
    width: 45vh;
}

.name p{
    text-align: center;
    margin-top: -2px;
    font-size: 24px;
    font-weight: 500;

}

.name span{
    float: right;
    margin-right: 29%;
    font-size: 18px;
    line-height: 0px;
    position: relative;
    top: -11px
}

.main-arrow {
    background-color: #94c529;
    position: relative;
    top: 62vh;
    width: 43px;
    height: 123px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
    position: absolute;
}


.main-arrow a{
    position: relative;
    top: 60px;
    left: 30%;
}
.main-arrow img{
    position: relative;
    width: 44%;
    align-items: center;
}

.about {
    position: absolute;
    left: 85px;
    top: 68vh;
    font-size: 17px;
    font-weight: 500;
    width: 35vw;
}

.under-line {
    content: ' ';
    display: block;
    width: 109px;
    height: 0;
    border-width: 0 0 2px;
    border-style: solid;
    position: absolute;
    bottom: 0;
    top: 73vh;
    color: #94c529;
    float: left;
    left: 87px;
}
.col-img{
    background-image: url("../../images/background.svg");
    background-position-x: 629px;
    background-position-y: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    height:87vh;
}
/************************** media query *********************/

/* @media (min-width: 1040px){
    .main img{
        width: 19vw;
    }
} */


@media (min-width: 900px) and (max-width: 1032px){
    .left p {
        font-size: 34px;
        top: 12vh;
        }
    
    .left .ant-btn{
        margin-top: 10vh;
        width: 35%;
    }
    
    .main img{
        width: 72%;
        margin-bottom: 7%;
        padding-top: 17px;
        margin-top: 34px;
        margin-left: 12%;
    }
    
    .name p{
        font-size: 20px;
        /* margin-top: 0px; */
    }
    
    .main {
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* .main-arrow {
        top: 18vh;
    } */

    .about {
        /* top: 4vh; */
        font-size: 13px;
    }

    .under-line {
        /* top: 2vh; */
        width: 79px;
    }
    }               


    @media (min-width: 726px) and (max-width: 899px){
    .left p {
    font-size: 34px;
    top: 12vh;
    }

    .left .ant-btn{
    margin-top: 7vh;
    width: 35%;
    }

    .main img{
        width: 72%;
        margin-bottom: 4%;
        padding-top: 17px;
        margin-top: 55px;
        margin-left: 14%;

    /* padding-bottom: 7vh;
    padding-top: 6vh;
    margin-left: 6.1vw;
    margin-bottom: 5vh;
    width: 51vh; */
    }

    .name p{
    font-size: 20px;
    /* margin-top: 0px; */
    }

    .main {
    background-size: cover;
    background-repeat: no-repeat;
    }
/* 
    .main-arrow {
    top: 85px;
    } */

    .about {
    /* top: 15px; */
    font-size: 13px;
    }

    .under-line {
    /* top: 0px; */
    width: 79px;
    }
    }               

    @media (min-width: 500px) and (max-width: 725px){
    .left p {
    font-size: 22px;
    /* margin-top: 5px; */
    }

    .left .ant-btn{
    /* margin-top: 88px; */
    width: 100%;
    }
    .left .ant-btn.scd-btn {
        margin-top: 2vh;
    }

    .main img{
        padding-bottom: 2vh;
        padding-top: 7vh;
        margin-left: 6.1vw;
        margin-bottom: 5vh;
        width: 34vh;
    }

    .name p{
    font-size: 22px;
    /* margin-top: 0px; */
    }

    .main {
    background-size: contain;
    background-repeat: no-repeat;
    }

    /* .main-arrow {
        top: 10vh;
    } */

    .about {
    /* top: 0vh; */
    font-size: 13px;
    }

    .under-line {
     /* top: -2vh; */
    width: 79px;
    }
    }

    @media (min-width: 320px) and (max-width: 499px){
    .left p {
        font-size: 18px;
        /* margin-top: 5px; */
        }

    .left .ant-btn{
        /* margin-top: 62px; */
        width: 84%;
    }

    .left .ant-btn.scd-btn {
        margin-top: 1vh;
    }

    .main img{
        padding-bottom: 4vh;
        padding-top: 3vh;
        margin-left: 6.1vw;
        margin-bottom: 5vh;
        width: 26vh;
    }

    .name p{
        font-size: 20px;
        /* margin-top: 0px; */
    }

    .main {
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* .main-arrow {
        top: 18vh;
    } */

    .about {
        /* top: 3vh; */
        font-size: 13px;
    }

    .under-line {
        /* top: 1vh; */
        width: 79px;
    }
    }   


