.left p{
    position: relative;
    top: 60px;
    font-size: 54px;
    font-weight: 500;
}

.left .ant-btn{
    background: #94c529;
    border: none;
    border-radius: 20px;
    color: white;
    width: 119px;
    margin-top: 44px;
    margin-right: 2%;
}

.left .ant-btn.scd-btn{
    color: #94c529;
    background: white;
    border: 1px solid #94c529;
}

.main{
    background-image: url('../../images/circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
.main img{
    width: 71%;
    padding-bottom: 28px;
    padding-top: 75px;
    margin-left: 15%;
    margin-bottom: 5%;
}

.name p{
    text-align: center;
    margin-top: -2px;
    font-size: 24px;
    font-weight: 500;

}

.name span{
    float: right;
    margin-right: 24%;
    font-size: 18px;
    line-height: 0px;
    position: relative;
    top: -11px;
}

.main-arrow{
    background-color: #94c529;
    position: relative;
    top: 49px;
    width: 43px;
    height: 123px;
    border-top-left-radius: 44px;
    border-top-right-radius: 44px;
}

.main-arrow a{
    position: relative;
    top: 60px;
    left: 30%;
}
.main-arrow img{
    position: relative;
    width: 44%;
    align-items: center;
}

.about{
    position: relative;
    left: 85px;
    top: -20px;
    font-size: 17px;
    font-weight: 500;
}

.under-line{
    content: ' ';
    display: block;
    width: 109px;
    height: 0;
    border-width: 0 0 2px;
    border-style: solid;
    position: relative;
    bottom: 0;
    top: -30px;
    color: #94c529;
    float: left;
    left: 87px;

}
.col-img{
    background-image: url("../../images/background.svg");
    background-position-x: 629px;
    background-position-y: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}
/************************** media query *********************/

@media (min-width: 1040px){
    .main img{
        width:54%;
    }
}


@media (min-width: 900px) and (max-width: 1032px){
    .left p {
        font-size: 34px;
        margin-top: 5px;
        }
    
    .left .ant-btn{
        margin-top: 64px;
        width: 35%;
    }
    
    .main img{
        width: 72%;
        margin-bottom: 7%;
        padding-top: 17px;
        margin-top: 34px;
        margin-left: 12%;
    }
    
    .name p{
        font-size: 20px;
        margin-top: 0px;
    }
    
    .main {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .main-arrow {
        top: 85px;
    }

    .about {
        top: 15px;
        font-size: 13px;
    }

    .under-line {
        top: 0px;
        width: 79px;
    }
    }               


    @media (min-width: 726px) and (max-width: 899px){
    .left p {
    font-size: 34px;
    margin-top: 5px;
    }

    .left .ant-btn{
    margin-top: 64px;
    width: 35%;
    }

    .main img{
    width: 72%;
    margin-bottom: 4%;
    padding-top: 17px;
    margin-top: 34px;
    margin-left: 12%;
    }

    .name p{
    font-size: 20px;
    margin-top: 0px;
    }

    .main {
    background-size: cover;
    background-repeat: no-repeat;
    }

    .main-arrow {
    top: 85px;
    }

    .about {
    top: 15px;
    font-size: 13px;
    }

    .under-line {
    top: 0px;
    width: 79px;
    }
    }               

    @media (min-width: 500px) and (max-width: 725px){
    .left p {
    font-size: 22px;
    margin-top: 5px;
    }

    .left .ant-btn{
    margin-top: 88px;
    width: 100%;
    }
    .left .ant-btn.scd-btn {
        margin-top: 4px;
    }

    .main img{
    width: 59%;
    margin-bottom: 2%;
    padding-top: 7px;
    margin-top: 54px;
    }

    .name p{
    font-size: 22px;
    margin-top: 0px;
    }

    .main {
    background-size: contain;
    background-repeat: no-repeat;
    }

    .main-arrow {
    top: 85px;
    }

    .about {
    top: 15px;
    font-size: 13px;
    }

    .under-line {
    top: 0px;
    width: 79px;
    }
    }

    @media (min-width: 320px) and (max-width: 499px){
    .left p {
        font-size: 18px;
        margin-top: 5px;
        }

    .left .ant-btn{
        margin-top: 62px;
        width: 84%;
    }

    .left .ant-btn.scd-btn {
        margin-top: 4px;
    }

    .main img{
        width: 66%;
        margin-bottom: 0%;
        padding-top: 7px;
        margin-top: 39px;
    }

    .name p{
        font-size: 20px;
        margin-top: 0px;
    }

    .main {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .main-arrow {
        top: 85px;
    }

    .about {
        top: 15px;
        font-size: 13px;
    }

    .under-line {
        top: 0px;
        width: 79px;
    }
    }   


