.footer{
background-color: black;
}

.icons{
    color: #94c529;
    padding-left: 4px;
    cursor: pointer;
}

.ant-layout-footer {
    padding: 104px 75px 1px 62px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    background: #000000;
}

.p1 a {
    color: #94c529;
}

.p2{
    color: #9d9d9d;
    position : relative;
    top: -14px;
}

.p3{
    color: #9d9d9d;
    position : relative;
    top: -29px;
    font-size:11px;
}

/********************* media query ****************/
 @media (min-width:320px) and (max-width:575px){

    .ant-layout-footer {
        padding: 59px 75px 1px 53px;
        font-size: 12px;
    }
} 