.back{
    background-image: url("../../images/green-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 12.7%;
    margin-top: 169px;
    height: 100vh;
    
}

/* 
.main-arrow3{
    background-color: #94c529;
    position: relative;
    top: 227vh;
    width: 43px;
    height: 100vh;
    position: absolute;
    left: 12vw;
}

.main-arrow3 img {
    position: absolute;
    width: 44%;
    align-items: center;
    top: 93vh;
    left: 27%;
} */

.line-slide{
    content: ' ';
    display: block;
    width: 59px;
    height: 0;
    border-width: 0 0 2px;
    border-style: solid;
    position: relative;
    bottom: 0;
    color: #94c529;
    top: 0px;
}

.container {
  padding: 0px;
  background-image: url("../../images/background.svg");
  background-position-x: 445px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 184px;
}

.slide-height{
    /* height:412px; */
    height: 90vh;
}

.position-list{
    position: relative;
    top: 7vh;
    padding-left: 125px;
}

.slick-slide img {
  margin: auto;
}
.slide-details {
    /* float:right; */
    position: relative;
    top: 35%;
}
.slide-details h1{
    border-bottom: 3px solid #94C529;
    width: 145px;
    color: #94C529;
}

.slide-details p{
    width: 153px;
}

.line{
    content: ' ';
    border-top: 2px solid #94C529;
    border-left: 2px solid #94C529;
    width: 154px;
    position: relative;
    left: 62%;
    top: 27vh;
    height: 62px;
    opacity: 1;
    z-index: 2;

}

.rounded-img{
    background-image: url('../../images/circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.rounded-img img{
    width: 50%;
    padding-bottom: 57px;
    padding-top: 60px;
    right: 14%;
    position: relative;
}

.slide-details1{
    position: relative;
    left: 9%;
    top: 222px;
}

.slide-details1 p{
    width: 166px;
}


.slick-dots li button:before {
    font-size: 0px;
    background: white;
    color: rgb(250, 249, 249);
    border: 3px solid #94C529;
    border-radius: 53%;
}

.slick-dots li.slick-active button:before {
    background: #94C529;
}


.slick-dots {
    bottom: 27vh;
    margin-left: 3%;
}

.list{
    list-style: none;
    color:#94C529;
    font-size: 17px;
}

.arr2 img{
    position: relative;
    align-items: center;
    left: 13.2%;
    width: 23px;
    bottom: 14px;
    top: 92vh;
    z-index: 50;
    cursor: pointer;
}

/* .arr2{
    cursor: pointer;
    top: 92vh;
    position: relative;
    z-index: 50;
} */

/****************************** media query **********************************/


@media(min-width:320px) and (max-width:575px){

    .back {
        background-position-x: 4.7%;
        height: 427px;
    }
    .arr2 img {
        left: 6%;
        width: 19px;
        top: 396px;
    }

    .position-list {
        top: 0px;
        padding-left: 38px;
    }
    .slide-details {
        top: 11%;
        
    }

    .list {
        font-size: 15px;
    }

    .container {
        padding: 0px;
        position: relative;
        top: -20px;
    }

    .slide-height{
        height: 303px;
        padding-bottom: 44px;
    }

    .rounded-img img {
        width: 52%;
        padding-bottom: 0px;
        padding-top: 38px;
        right: 5%;
    }

    .slick-dots {
        bottom: 3vh;
       margin-left: 2%;
}
    

    .slick-dots li button:before {
        width: 15px;
        height: 15px;
    }

    .slick-dots li {
        width: 15px;
        height: 15px;
        margin: 1px 2px;
    }

    .line {
        width: 108%;
        left: 59%;
        top: 20%;
        height: 12%;
    }

    .slide-details1 {
        left: 9%;
        top: 111px;
    }

    .slide-details1 p {
        width: 99px;
        font-size: 10px;
        margin-left: 13%;
        margin-top: -27px;
    }

    .rounded-img{
        height: 210px;
    }

    .slide-details h1 {
        width: 59px;
        font-size: 13px;
    }
    .slide-details p {
        width: 100%;
        font-size: 11px;
    }
    
}


@media(min-width:576px) and (max-width:991px){

    .back {
        background-position-x: 8.7%;
        height: 489px;
    }
    .arr2 img {
        left: 9.4%;
        width: 23px;
        top: 428px;
    }

    .position-list {
        top: 0px;
        padding-left: 58px;
    }
    .slide-details {
        top: 41%;
    }

    .list {
        font-size: 18px;
    }

    .container {
        padding: 0px;
        position: relative;
        top: -20px;
    }

    .slide-height{
        height: 337px;
        padding-bottom: 44px;
    }

    .rounded-img img {
        width: 52%;
        padding-bottom: 0px;
        padding-top: 64px;
        right: 7%;
    }

    .slick-dots {
        bottom: -35px;
        margin-left: 2%;
    }

    .line {
        width: 91%;
        left: 64%;
        top: 37%;
        height: 12%;
    }

    .slide-details1 {
        left: 9%;
        top: 111px;
    }

    .slide-details1 p {
        width: 111%;
        font-size: 13px;
        margin-left: 13%;
        margin-top: 37px;
    }

    .rounded-img{
        height: 300px;
    }

    .slide-details h1 {
        width: 103px;
        font-size: 30px;
    }
    .slide-details p {
        width: 100%;
        font-size: 15px;
    }
    
}


@media (min-width:992px){

.slide-details {
    margin-left: -41%;
}
/* .arr2 img{
    top: 449px;
} */
.container {
    margin-top: -68px;
  }

  /* .back{
    height: 490px;   
} */
}